.submenubar {
    background-color: #fff;
}

.submenubar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

 .array {
              text-align: right;
              margin-top: 50px;
              margin-right: 5%;
            }
 .array a {
              text-decoration: none;
              color: black;
            
            }